/* #region misc*/

@font-face {
  font-family: 'PoppinsLight';
  src: local('PoppinsLight'),
       url('./fonts/Poppins-Light.ttf') format('truetype')
}
@font-face {
  font-family: 'PoppinsMedium';
  src: local('PoppinsMedium'),
       url('./fonts/Poppins-Medium.ttf') format('truetype')
}
@font-face {
  font-family: 'PoppinsBold';
  src: local('PoppinsBold'),
       url('./fonts/Poppins-Bold.ttf') format('truetype')
}

@-webkit-keyframes Coolbg {
  0%{background-position:0% 90%}
  50%{background-position:100% 11%}
  100%{background-position:0% 90%}
}
@-moz-keyframes Coolbg {
  0%{background-position:0% 90%}
  50%{background-position:100% 11%}
  100%{background-position:0% 90%}
}
@keyframes Coolbg {
  0%{background-position:0% 90%}
  50%{background-position:100% 11%}
  100%{background-position:0% 90%}
}
/* width */
::-webkit-scrollbar
{
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    background: linear-gradient(49deg,#6fff7b,#7bcaff);
                border-radius:100px;          
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:#151517;
    border-radius:10px;
    
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover{
    box-shadow: inset -6px -6px 10px rgba(255,255,255,0.05),
                inset 6px 6px 20px rgba(0,0,0,0.5);
}

/* #endregion */


body {
  margin: 0;
  font-family: 'PoppinsMedium', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  text-align: center;
  background-color:#f2f2f2;
}
h1{
  font-family: 'PoppinsBold',sans-serif;
  font-size: 3.5rem;
  padding:0rem;
  margin:0rem;
  margin-top:5rem;
  background: linear-gradient(49deg,#00ffea,#5fbfff,#6e71ff,#db28ff);
    background-size: 400% 400%;
    background-clip:text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: Coolbg 5s ease infinite;
    -moz-animation: Coolbg 5s ease infinite;
    animation: Coolbg 5s ease infinite;
}




/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

/*
=============== 
Search
===============
*/
.search-form {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 5rem;
}
.search-logo{
  width: 20px;
}
.form-input {
  outline: none;
  border-color: transparent;
  color: #0300aa;
  background-color: #f2f2f2;
  padding: 1.25rem 2rem;
  margin: 1rem 2rem;
  width: 25rem;
  border-radius: 20px;
  border: none;
  font-size: 1.25rem;
  box-shadow:inset -6px -6px 10px rgba(255,255,255,0.75),inset 6px 6px 20px rgba(0,0,0,0.08);
}




/*
=============== 
Buttons
===============
*/

.btn-container {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-container p {
  font-size: 1.25rem;
  color:#0300a0;
}
.btn-logo{
  width: 1rem;
}
.btn-container button {

  font-family: 'PoppinsMedium';
  font-size: 1.25rem;
  cursor: pointer;
  outline: none;
  border: none;
  color:#0300a0;
  padding: 1rem 1.5rem;
  margin: 2rem;
  border-radius:100px;
  background:#f2f2f2;
  box-shadow: -6px -6px 20px rgba(255, 255, 255, 1),6px 6px 20px rgba(0,0,0,0.1);
  transition: all 0.5s ease-in-out;
}
.btn-container button:disabled {
  cursor: not-allowed;
}
.btn-container button:hover,
.btn-container button:active
{
  box-shadow: inset -6px -6px 10px rgba(255,255,255,1),
              inset 6px 6px 20px rgba(0,0,0,0.1);
}



/*
=============== 
Spinner
===============
*/
.spinner-container {
  position: relative;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: #49a6e9;
  animation: spinner 0.6s linear infinite;
}

/*
=============== 
Story
===============
*/
.stories {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  margin-bottom: 5rem;
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 992px) {
  .stories {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.story {
  border-radius: 20px;
  background:#f2f2f2;
  box-shadow: -6px -6px 20px rgba(255, 255, 255, 1),6px 6px 20px rgba(0,0,0,0.08);
  text-align: left;
  padding: 2rem 2rem;
}

.title {
  line-height: 1.5;
  color: #0300a0;
}
.info {
  margin-bottom: 0.5rem;
  color: #6d6d6d;
}
a{
  text-decoration:none;
}
.read-link {
  font-size: 0.85rem;
  margin-right: 0.75rem;
  text-transform: capitalize;
  color: #49a6e9;
}

.remove-btn {
  background: transparent;
  color: #bb2525;
  border-color: transparent;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 0.85rem;
}


@media screen and (max-width: 650px) {
  h1{
    font-size:3rem;
  }
  .form-input{
    width: 20rem;
  }
}
@media screen and (max-width: 560px) {
  h1{
    font-size:2.5rem;
  }
  .form-input{
    width: 15rem;
    padding: 1rem 1rem;
    font-size:1rem;
    /* margin: 1rem 2rem; */
  }
  .search-logo{
    width:15px;
  }


  .btn-logo{
    width: 1rem;
  }
  .btn-container button {
  
    padding: 0.75rem 1.25rem;
    margin: 2rem;
  }
}
@media screen and (max-width: 465px) {
  h1{
    font-size:2rem;
  }
  .form-input{
    width: 10rem;
    padding: 1rem 1rem;
    font-size:0.8rem;
    margin: 1rem 1rem;

  }
  .search-logo{
    width:15px;
  }
  

  .btn-logo{
    width: 0.75rem;
  }
  .btn-container button {
  
    padding: 0.5rem 1rem;
    margin: 2rem;
  }
  .btn-container p{
    font-size:1rem;
  }
  .btn-container{
    margin-bottom: 0rem;
  }

  .story {
    padding: 1rem 2rem;
  }
}
@media screen and (max-width: 373px) {
  h1{
    font-size:1.75rem;
  }
  .form-input{
    width: 7.5rem;
  }


  .btn-logo{
    width: 0.75rem;
  }
  .btn-container button {
  
    padding: 0.25rem 0.75rem;
    margin: 1.5rem;
  }
  .btn-container p{
    font-size:0.75rem;
  }
  .btn-container{
    margin-top:-1rem;
  }

  
}